.Navbar {
    display: flex;
    flex-direction: column;
    z-index: var(--nash-z-50);

    &-body {    
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--nash-color-light-1000);
        padding: 5px 32px;
        box-shadow: var(--nash-shadow-ambient);
    
        &-logo {
            font-size: var(--nash-font-size-24);
            font-weight: 900;
            align-items: center;
            color: var(--nash-color-dark-1000);

            .Icon {
                margin-right: 10px;
                color: var(--nash-color-red-1000);
            }
        }

        &-link {
            color: var(--nash-color-dark-1000);
            cursor: pointer;
            font-size: var(--nash-font-size-14);

            &:hover {
                color: var(--nash-color-yellow-1000);
            }
        }
    }
}

.Modal-overlay {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--nash-z-100);
    overflow: hidden;
}

.Modal {
    position: fixed;
    padding: 20px;
    width: 400px;
    z-index: var(--nash-z-1000);
    top: 10%;
    left: 50%;
    margin-left: -200px;
    background-color: var(--nash-color-light-1000);
    border-radius: var(--nash-border-radius-8);
    border: 1px solid rgba(var(--dark), var(--opacity-tint));

    &-large {
        width: 500px;
        margin-left: -250px;
        max-height: 700px;
    }

    &-header {
        border-bottom: 2px solid var(--nash-color-dark-200);
        font-size: var(--nash-font-size-24);
        padding: 5px 0 10px 0;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    &-close {
        display: flex;
        justify-content: right;

        .Icon {
            font-size: var(--nash-font-size-16);
            margin-left: auto;
    
            &:hover {
                cursor: pointer;
                color: var(--nash-color-pink-1000);
            }
        }
    }

    &-content {
        border-radius: var(--nash-border-radius-16);
        color: var(--nash-color-dark-800);
        z-index: 5;
        height: fit-content;
        max-height: 600px;
        overflow-y: auto;
        padding: 10px;
    }

    &-tab {
        cursor: pointer;
        display: flex;

        &-item {
            width: 70px;
            padding-bottom: 5px;
            text-align: center;
            border-bottom: 1px solid var(--nash-color-light-600);
            &-selected {
                color: var(--nash-color-light-1000);
                border-bottom: 3px solid var(--nash-color-light-1000);
            }
            
            &:hover {
                color: var(--nash-color-light-1000);
            }
        }
    }
}

.Carosel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;

    &-image {
        display: flex;
        overflow-x: hidden;
        white-space: nowrap;
        transition: scroll-left 1s ease-in-out; /* Smoother transition for scrolling */
    }

    &-img {
        width: 320px;
        height: 180px;
        flex-shrink: 0;
        margin-right: 10px;
        transition: transform 0.3s ease;    

        &:hover {
            transform: scale(1.1);
        }
    }

    &-arrow {
        position: absolute;
        height: 100%;
        display: flex; /* Enable flexbox */
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
        background-color: #fff;
        border: none;
        color: var(--nash-color-blue-1000);
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
        z-index: 100;
        transition: opacity 0.3s ease;

        &-hover {
            color: var(--nash-color-yellow-1000);
        }

        &-left {
            background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
            padding-right: 50px;
        }

        &-right {
            right: 0px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
            padding-left: 50px;
        }
    }

    &-icon {
        font-size: 24px;
        top: 50%;
        color: blue;
    }
}
