.Dashboard {
  display: flex;
  flex-direction: column;
  padding: 36px 52px;
  background-color: var(--nash-color-light-50);
  min-height: 100vh;

  &-welcome {
    margin-bottom: 32px;

    &-title {
      font-size: var(--nash-font-size-32);
      font-weight: 700;
      color: var(--nash-color-dark-900);
      margin-bottom: 16px;
    }

    &-subtitle {
      font-size: var(--nash-font-size-18);
      color: var(--nash-color-dark-600);
      max-width: 48rem;
    }
  }

  &-events {
    margin-top: 16px;

    &-header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 32px;

      &-left {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-title {
          font-size: var(--nash-font-size-24);
          font-weight: 700;
          color: var(--nash-color-dark-900);
        }

        &-divider {
          height: 1px;
          width: 100%;
          background-color: var(--nash-color-dark-300);
        }
      }

      &-actions {
        display: flex;
        gap: 24px;
        margin-top: 8px;
      }
    }

    &-grid {
      margin-top: 32px;
    }
  }
} 