// styles for the formik form
.Form {
    color: var(--nash-color-dark-900);

    &-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;

        label {
            margin-bottom: 3px;
            font-size: var(--nash-font-size-12);
            color: var(--nash-color-dark-1000)
        }

        input {
            border-radius: var(--nash-border-radius-8);
            border: 2px solid var(--nash-color-gray-200);
            // background-color: var(--nash-color-light-1000);
            color: var(--nash-color-dark-800);
            font-size: var(--nash-font-size-16);
            padding: 5px 8px;
            width: 100%;  
            position: relative;
        }

        &-toggle {
            cursor: pointer;  
            margin: -30px 10px 0 auto;
            z-index: var(--nash-z-100);
            color: var(--nash-color-light-700);

            &:hover {
                color: var(--nash-color-light-900);
            }
        }

        select {
            border-radius: var(--nash-border-radius-8);
            border: none;
            background-color: var(--nash-color-light-50);
            color: var(--nash-color-light-500);
            font-size: var(--nash-font-size-14);
            padding: 8px;
            width: auto;
            position: relative;
          }
    }

    &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            margin-bottom: 5px;
        }

        input {
            border-radius: var(--nash-border-radius-8);
            border: 1px solid var(--nash-color-dark-100);
            background-color: var(--nash-color-dark-50);
            color: var(--nash-color-dark-800);
            padding: 5px 8px;
            width: 100%;  
            position: relative;
        }

        &-toggle {
            cursor: pointer;  
            margin: -30px 10px 0 auto;
            z-index: var(--nash-z-100);
            color: var(--nash-color-light-700);

            &:hover {
                color: var(--nash-color-light-900);
            }
        }

        select {
            border-radius: var(--nash-border-radius-8);
            border: none;
            background-color: var(--nash-color-light-50);
            color: var(--nash-color-light-500);
            font-size: var(--nash-font-size-14);
            padding: 8px;
            width: auto;
            position: relative;
          }
    }

    &-error {
        color: var(--nash-color-red-1000);
        font-size: var(--nash-font-size-12);
    }

    &-success {
        color: var(--nash-color-green-1000);
        font-size: var(--nash-font-size-12);
    }
}