.Listings {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
    color: var(--nash-color-dark-1000);
    font-size: var(--nash-font-size-32);
    font-weight: 600;
  }
} 